/* STYLE SHEET*/


/* GLOBAL CLASSES*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

img {
    max-width: 100%;
    height: auto;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* Header Style */