/* STYLE SHEET*/


/* GLOBAL CLASSES*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Libre Franklin', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}

.d-flex {
    display: flex;
}


/* Header Style */

header {
    padding: 1rem;
    border-bottom: 1px solid grey;
}

.header-flex {
    justify-content: space-between;
    align-items: center;
}

.left-header i {
    padding-right: 1.5rem;
    font-size: 1.5rem;
}

.left-header a {
    font-size: 1.5rem;
}

.btn-header button {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    margin-right: 0.5rem;
    padding: 1.5rem 1.1rem;
    background-color: rgb(50, 104, 145);
    border: 0.1rem solid #497493;
    border-radius: 0.2rem;
}

.btn-header button:last-child {
    margin-right: 0;
}